In [106]:
import streamlit as st
import numpy as np
import pandas as pd
import os
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import copy
from description import *
from importlib import import_module

In [107]:
selected_problem = 'InvertedPendulum'
problem_path = r'./problems/'+selected_problem
sample_size = 100

In [108]:
dv = pd.read_csv(problem_path+'/input/dv_space.csv')
qoi = pd.read_csv(problem_path+'/input/qoi_space.csv')
dv_size = dv.shape[0]
qoi_size = qoi.shape[0]

In [109]:
updated_dv = dv.copy()
updated_qoi = qoi.copy()

In [110]:
dv_samples = pd.DataFrame(np.random.uniform(dv.Lower, dv.Upper, (sample_size, dv_size)),columns=dv.Variables)

In [111]:
mod = import_module('problems.'+selected_problem+'.library.'+selected_problem)
prob_class = getattr(mod, selected_problem)
prob = prob_class(dv_samples)

prob.eval_list = [func for func in dir(prob) if callable(getattr(prob, func)) and not func.startswith("__") and not func.startswith("_")]

In [112]:
for method in prob.eval_list:
    func = getattr(prob, method)
    func()

/home/nightmareforev/anaconda3/envs/xray/lib/python3.8/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: invalid value encountered in arcsin
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [119]:
masks = pd.DataFrame()
masks2 = pd.DataFrame()
for i in range(len(prob.eval_list)):
    masks[prob.eval_list[i]] = (prob.var[prob.eval_list[i]] < float(updated_qoi.Upper.loc[updated_qoi.Variables==prob.eval_list[i]])) & (prob.var[prob.eval_list[i]] > float(updated_qoi.Lower.loc[updated_qoi.Variables==prob.eval_list[i]]))
    masks2[prob.eval_list[i]] = (prob.var[prob.eval_list[i]] < float(updated_qoi.Upper.loc[updated_qoi.Variables==prob.eval_list[i]])) | (prob.var[prob.eval_list[i]] > float(updated_qoi.Lower.loc[updated_qoi.Variables==prob.eval_list[i]]))

In [117]:
masks

    root1  root2  theta
0    True   True   True
1    True  False  False
2   False  False   True
3    True   True   True
4   False  False  False
..    ...    ...    ...
95   True   True   True
96  False  False   True
97   True   True   True
98  False  False   True
99   True  False  False

[100 rows x 3 columns]

In [120]:
masks2

    root1  root2  theta
0    True   True   True
1    True   True   True
2   False  False   True
3    True   True   True
4   False  False   True
..    ...    ...    ...
95   True   True   True
96  False  False   True
97   True   True   True
98  False  False   True
99   True   True   True

[100 rows x 3 columns]

In [9]:
dv_samples

Variables,L,l,rhop,rhom,rp,rom,xm,Kp,Kd,tau,g,M,m,alpha,beta,root1,root2,theta
0,1.422128,0.578565,2212.230685,1472.683424,0.022357,0.043609,0.274559,33.321544,6.170883,9.600377,9.18,4.940242,3.752684,33.954375,3.718030,-5.313886,-7.027881,0.232273
1,0.730529,0.642964,5884.606899,1132.909271,0.014301,0.047665,0.416570,8.571553,28.536151,6.756550,9.18,2.762089,4.731114,33.956350,1.475332,-18.279803,-38.792498,0.249588
2,1.064411,0.586306,3147.865205,1117.868643,0.024788,0.033461,0.481876,68.226269,70.865824,1.417837,9.18,6.467728,1.040266,9.684109,2.713935,-58.117931,-83.613717,0.039176
3,0.583689,0.170072,5535.689850,1593.049154,0.015951,0.039718,0.410001,97.156137,73.489808,7.246541,9.18,2.582865,1.126167,7.255824,0.485345,-0.344883,-146.634733,0.706819
4,0.800880,0.328155,5374.148969,1066.232105,0.017336,0.045569,0.684530,0.189604,74.278169,5.075127,9.18,4.063632,1.952183,19.443793,1.801092,-53.514427,-95.041911,0.187647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.638977,0.389452,4406.207056,1174.675694,0.027097,0.010168,0.572832,77.979277,18.527501,9.787977,9.18,6.494583,-0.906707,-7.427293,0.574911,-17.413058,-19.641944,0.755199
96,0.841037,0.469230,6652.348890,1246.930689,0.018457,0.026105,0.389868,49.867039,75.150510,1.586599,9.18,5.987505,0.626436,4.660277,1.518451,-50.804110,-99.496910,0.062614
97,1.477054,0.508765,5855.247810,1082.810416,0.015838,0.011331,0.467332,3.444443,51.947499,8.495460,9.18,6.815663,-0.211956,-2.346304,4.905688,-46.675652,-57.219347,0.188660
98,0.737490,0.159806,3302.135254,1469.363319,0.021792,0.030733,0.489251,92.760086,42.236005,2.332185,9.18,3.633159,0.346436,2.728667,0.742344,-16.821455,-67.650555,0.169140
99,0.931000,0.307881,5683.540443,1417.124521,0.026675,0.039538,0.400661,3.274556,56.287294,3.583048,9.18,11.828270,1.167383,9.282281,3.614050,-48.470529,-64.104059,0.065384

In [10]:
masks

    root1  root2  theta
0    True   True   True
1    True   True   True
2    True   True   True
3    True   True   True
4    True   True   True
..    ...    ...    ...
95   True   True   True
96   True   True   True
97   True   True   True
98   True   True   True
99   True   True   True

[100 rows x 3 columns]

In [11]:
np.logical_and(masks[prob.eval_list[0]], masks[prob.eval_list[1]])

0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Length: 100, dtype: bool

In [12]:
mask_ok = masks[prob.eval_list[0]]
for i in range(len(prob.eval_list)):
    mask_ok = np.logical_and(mask_ok, masks[prob.eval_list[i]])
    samples_ok = dv_samples[mask_ok]

samples_ok

Variables,L,l,rhop,rhom,rp,rom,xm,Kp,Kd,tau,g,M,m,alpha,beta,root1,root2,theta
0,1.422128,0.578565,2212.230685,1472.683424,0.022357,0.043609,0.274559,33.321544,6.170883,9.600377,9.18,4.940242,3.752684,33.954375,3.718030,-5.313886,-7.027881,0.232273
1,0.730529,0.642964,5884.606899,1132.909271,0.014301,0.047665,0.416570,8.571553,28.536151,6.756550,9.18,2.762089,4.731114,33.956350,1.475332,-18.279803,-38.792498,0.249588
2,1.064411,0.586306,3147.865205,1117.868643,0.024788,0.033461,0.481876,68.226269,70.865824,1.417837,9.18,6.467728,1.040266,9.684109,2.713935,-58.117931,-83.613717,0.039176
3,0.583689,0.170072,5535.689850,1593.049154,0.015951,0.039718,0.410001,97.156137,73.489808,7.246541,9.18,2.582865,1.126167,7.255824,0.485345,-0.344883,-146.634733,0.706819
4,0.800880,0.328155,5374.148969,1066.232105,0.017336,0.045569,0.684530,0.189604,74.278169,5.075127,9.18,4.063632,1.952183,19.443793,1.801092,-53.514427,-95.041911,0.187647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.638977,0.389452,4406.207056,1174.675694,0.027097,0.010168,0.572832,77.979277,18.527501,9.787977,9.18,6.494583,-0.906707,-7.427293,0.574911,-17.413058,-19.641944,0.755199
96,0.841037,0.469230,6652.348890,1246.930689,0.018457,0.026105,0.389868,49.867039,75.150510,1.586599,9.18,5.987505,0.626436,4.660277,1.518451,-50.804110,-99.496910,0.062614
97,1.477054,0.508765,5855.247810,1082.810416,0.015838,0.011331,0.467332,3.444443,51.947499,8.495460,9.18,6.815663,-0.211956,-2.346304,4.905688,-46.675652,-57.219347,0.188660
98,0.737490,0.159806,3302.135254,1469.363319,0.021792,0.030733,0.489251,92.760086,42.236005,2.332185,9.18,3.633159,0.346436,2.728667,0.742344,-16.821455,-67.650555,0.169140
99,0.931000,0.307881,5683.540443,1417.124521,0.026675,0.039538,0.400661,3.274556,56.287294,3.583048,9.18,11.828270,1.167383,9.282281,3.614050,-48.470529,-64.104059,0.065384

In [13]:
dv_samples_nok = pd.DataFrame()
mask_ok = masks[prob.eval_list[0]]
for i in range(len(prob.eval_list)):
    mask_ok = np.logical_and(mask_ok, masks[prob.eval_list[i]])
#     dv_samples_nok[prob.eval_list[i]] = dv_samples[~masks[prob.eval_list[i]]]
    
dv_samples_ok = dv_samples[mask_ok]

In [14]:
import numpy as np
data = np.array2string(np.random.randint(0, 255, size=3, dtype=np.uint8), separator=',')[2:-2]

In [15]:
scatter_markers_ok = dict(color='rgba(10,255,10,1)',
                        size=5,
                        )
plotter = np.array([[0,1],[0,2],[1,2],[2,2],[1,0]])
plot_index = 1
trace_ok = go.Scatter(x =dv_samples_ok.iloc[:, plotter[plot_index, 0]], \
                      y = dv_samples_ok.iloc[:, plotter[plot_index, 1]], mode= 'markers', name = 'feasible designs', marker=scatter_markers_ok)

In [16]:
trace_ok = []
trace_ok.append(go.Scatter(x = dv_samples_ok.iloc[:, plotter[plot_index, 0]], \
                              y = dv_samples_ok.iloc[:, plotter[plot_index, 1]], mode= 'markers', name = 'feasible designs', marker=scatter_markers_ok))

In [17]:
np.random.randint(0, 255, size=3, dtype=np.uint8)

array([  4,   7, 128], dtype=uint8)

In [18]:
import plotly.express as px

colors = px.colors.qualitative.Plotly

In [19]:
a = "{}, {}, {}".format(1, 1, 1)

In [20]:
cv = np.random.randint(0, 255, size=(len(masks.columns),3), dtype=np.uint8)

In [21]:
cv

array([[219, 201,  83],
       [171,  83, 236],
       [ 34, 117,  14]], dtype=uint8)

In [22]:
cv[:,1] = 0

In [23]:
cv

array([[219,   0,  83],
       [171,   0, 236],
       [ 34,   0,  14]], dtype=uint8)

In [24]:
dv.Description

0      Length of the pendulum
1          Length of the mass
2     Density of the pendulum
3         Density of the mass
4      Radius of the pendulum
5    Outer radius of the mass
6        Location of the mass
7           Proportional gain
8           Differential gain
9              Applied torque
Name: Description, dtype: object

In [25]:
problem_path

'./problems/InvertedPendulum'

In [27]:
func = {}
i = 0
for method in prob.eval_list:
    func[i] = getattr(prob, method)
    i = i+1

In [28]:
func[0]()

In [32]:
prob.var = dv

In [33]:
prob.var

  Variables    Lower    Upper   Units               Description
0         L     0.50     1.50       m    Length of the pendulum
1         l     0.05     0.75       m        Length of the mass
2      rhop  1050.00  8050.00  kg/m^3   Density of the pendulum
3      rhom  1050.00  1700.00  kg/m^3       Density of the mass
4        rp     0.01     0.03       m    Radius of the pendulum
5       rom     0.01     0.05       m  Outer radius of the mass
6        xm     0.25     0.75       m      Location of the mass
7        Kp     0.00   100.00     NaN         Proportional gain
8        Kd     0.00   100.00     NaN         Differential gain
9       tau     1.00    10.00      Nm            Applied torque

In [50]:
mask_bla = pd.DataFrame(np.ones(sample_size), dtype = bool).loc[:,0]
np.logical_and(mask_bla, masks[prob.eval_list[0]])

0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Length: 100, dtype: bool

In [43]:
masks[prob.eval_list[0]]

0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: root1, Length: 100, dtype: bool

In [48]:
mask_bla.items()

In [51]:
plotter[plot_index, 0]

0

In [52]:
def sample_variables(dv, sample_size, dv_size):
    """
    sample_variables

    Args:
        dv, sample_size, dv_size: Takes in the ranges of the respective design
        variables and quanitities of interest

    Returns:
        dv_samples: Retruns pandas data frame containing the sampled design variables,
                                    quanitities of interest within the specified design bounds
    """
    dv_samples_full = pd.DataFrame(np.random.uniform(dv.Lower, dv.Upper, (sample_size, dv_size)),columns=dv.Variables)
    return dv_samples_full

In [53]:
dv_samples_full = sample_variables(dv, sample_size, dv_size)

In [54]:
dv_samples_full

Variables,L,l,rhop,rhom,rp,rom,xm,Kp,Kd,tau
0,1.007306,0.187781,7160.628350,1552.179346,0.020030,0.020464,0.629258,46.567299,77.761178,5.716203
1,0.791837,0.126786,5500.933316,1477.682209,0.013333,0.028465,0.272486,13.693148,18.713870,6.646368
2,0.980686,0.163139,2579.652887,1188.693837,0.026574,0.018501,0.555145,67.611748,34.595119,4.857268
3,0.780529,0.693839,7787.737732,1197.595976,0.012941,0.037900,0.683876,54.251936,98.793909,5.468438
4,1.115379,0.208098,3024.806869,1325.176600,0.025329,0.015508,0.576523,57.081387,98.462621,4.749707
...,...,...,...,...,...,...,...,...,...,...
95,0.725278,0.712771,6381.028452,1605.736223,0.018236,0.034327,0.419969,92.083771,66.479628,3.509441
96,0.626874,0.643318,4947.899843,1071.071346,0.014076,0.017661,0.253843,32.447410,90.216405,2.334706
97,1.035083,0.246206,5897.278069,1339.252816,0.020087,0.048458,0.313568,62.046642,84.041308,3.064292
98,0.966740,0.364500,6627.966308,1292.833816,0.011399,0.021762,0.484630,6.951555,11.744755,8.232511
99,0.785642,0.294619,5020.957429,1253.703675,0.023022,0.017259,0.456896,39.556845,58.684594,9.765273

In [55]:
dv_samples_updated_temp = sample_variables(updated_dv, sample_size, dv_size)

In [56]:
dv_samples_updated_temp

Variables,L,l,rhop,rhom,rp,rom,xm,Kp,Kd,tau
0,0.574171,0.100521,4618.078777,1504.203240,0.010619,0.042402,0.493722,48.877698,60.298504,3.210987
1,0.867770,0.670763,2217.634323,1568.895533,0.018021,0.049868,0.731606,64.893867,26.407345,5.895368
2,0.787200,0.119661,1692.938398,1379.838951,0.019216,0.036228,0.462972,53.430375,10.592184,8.515858
3,0.984087,0.625689,4384.574253,1190.906029,0.023202,0.046375,0.515262,52.210572,68.687972,3.703213
4,1.040571,0.149645,1810.372893,1634.367481,0.029221,0.047217,0.374447,28.141036,83.893422,2.001625
...,...,...,...,...,...,...,...,...,...,...
95,0.782757,0.447812,3110.690390,1306.956256,0.028131,0.045230,0.397471,65.946587,1.810347,6.147951
96,1.499118,0.602414,6664.948006,1615.429101,0.026780,0.015586,0.588691,69.790845,62.928990,2.346605
97,0.852286,0.563861,6473.623363,1135.276517,0.029390,0.037071,0.320606,95.290761,28.275420,6.693175
98,1.491529,0.115847,1199.998015,1321.043827,0.015678,0.036174,0.499399,77.559353,70.505351,5.042584
99,1.285354,0.352466,3694.454610,1583.249594,0.011141,0.034658,0.343938,37.662673,80.254624,3.750067

In [57]:
dv_samples_updated = dv_samples_updated_temp.copy()
dv_samples_updated

Variables,L,l,rhop,rhom,rp,rom,xm,Kp,Kd,tau
0,0.574171,0.100521,4618.078777,1504.203240,0.010619,0.042402,0.493722,48.877698,60.298504,3.210987
1,0.867770,0.670763,2217.634323,1568.895533,0.018021,0.049868,0.731606,64.893867,26.407345,5.895368
2,0.787200,0.119661,1692.938398,1379.838951,0.019216,0.036228,0.462972,53.430375,10.592184,8.515858
3,0.984087,0.625689,4384.574253,1190.906029,0.023202,0.046375,0.515262,52.210572,68.687972,3.703213
4,1.040571,0.149645,1810.372893,1634.367481,0.029221,0.047217,0.374447,28.141036,83.893422,2.001625
...,...,...,...,...,...,...,...,...,...,...
95,0.782757,0.447812,3110.690390,1306.956256,0.028131,0.045230,0.397471,65.946587,1.810347,6.147951
96,1.499118,0.602414,6664.948006,1615.429101,0.026780,0.015586,0.588691,69.790845,62.928990,2.346605
97,0.852286,0.563861,6473.623363,1135.276517,0.029390,0.037071,0.320606,95.290761,28.275420,6.693175
98,1.491529,0.115847,1199.998015,1321.043827,0.015678,0.036174,0.499399,77.559353,70.505351,5.042584
99,1.285354,0.352466,3694.454610,1583.249594,0.011141,0.034658,0.343938,37.662673,80.254624,3.750067

In [68]:
dv_samples_updated.iloc[:, plotter[plot_index,0]] = dv_samples_full.iloc[:, plotter[plot_index,0]]
dv_samples_updated.iloc[:, plotter[plot_index,1]] = dv_samples_full.iloc[:, plotter[plot_index,1]]

In [69]:
def evaluate(prob, dv_samples_full, updated_qoi, sample_size):
    # First compute the functions
    compute_qoi(prob, dv_samples_full)
    # Evaluate each function and save them in eval
    masks = pd.DataFrame()
    mask_ok = pd.DataFrame(np.ones(sample_size), dtype = bool).loc[:,0]
    for i in range(len(prob.eval_list)):
        masks[prob.eval_list[i]] = (prob.var[prob.eval_list[i]] < float(updated_qoi.Upper.loc[updated_qoi.Variables==prob.eval_list[i]]))|(prob.var[prob.eval_list[i]] > float(updated_qoi.Lower.loc[updated_qoi.Variables==prob.eval_list[i]]))
        mask_ok = np.logical_and(mask_ok, masks[prob.eval_list[i]])
    dv_samples_ok = dv_samples_full[mask_ok]
    return masks, dv_samples_ok

In [71]:
def compute_qoi(prob, dv_samples_full):
    prob.var = dv_samples_full
    for method in prob.eval_list:
        func = getattr(prob, method)
        func()

In [74]:
prob.eval_list = [func for func in dir(prob) if callable(getattr(prob, func)) and not func.startswith("__")]
prob.eval_list

['_compute_commons', 'root1', 'root2', 'theta']